<ion-content padding>
  <div class="register-page">
    <div class="" style="text-align:center; margin:24px;">
      <img alt="logo-shopping974" src="assets/logo/logo.png" style="height:100px; width:100px; margin:auto">
    </div>

    <div text-center class="login__message">
      {{message}}
    </div>

    <form #loginForm="ngForm" novalidate style="margin:0 12px;" class="login-page__form">
      <ion-item>
        <ion-label floating>
          Adresse email
        </ion-label>
        <ion-input type="email" name="email" [(ngModel)]="account.email" #email="ngModel" required pattern="[a-zA-Z0-9._\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,4}"></ion-input>
      </ion-item>

      <div padding *ngIf="email.invalid && email.dirty">
        <span class="global__input-error">L'adresse e-mail n'est pas valide.</span>
      </div>

      <ion-item>
        <ion-label floating>
          Mot de passe
        </ion-label>
        <ion-input type="password" [(ngModel)]="account.password" name="password" #password="ngModel" required pattern=".{6,}">

        </ion-input>
      </ion-item>

      <div padding *ngIf="password.invalid && password.dirty">
        <span class="global__input-error">Votre mot de passe doit avoir au moins 6 caractères.</span>
      </div>
      <button ion-button block (click)="register()" color="primary" [disabled]="loginForm.invalid" class="login-page__connect_button">S'inscrire</button>

      <div *ngIf="error">
        {{errorMessage}}
      </div>
      <button ion-button block (click)="loginWithFacebook()" class="login-page__facebook_button">
        <ion-icon ios="logo-facebook" md="logo-facebook"></ion-icon>&nbsp;S'inscrire avec Facebook</button>
    </form>

    <div class="login-page__register">
      <button ion-button block (click)="navigateToConnexionPage()" color="button" class="login-page__register_button">Se connecter</button>
    </div>
  </div>
</ion-content>
