<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>NamanaShop</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="navigateToReservationPage()">
        <ion-icon name="cart"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="product-list__content">
  <ion-list class="product-list__filter">
    <ion-item>
      <ion-label text-right>Filter par ville</ion-label>
      <ion-select [(ngModel)]="selectorTown" placeholder="Tout" (ionChange)="filterTownChanged($event)">
        <ion-option value="Petite-Ile">Petite-Ile</ion-option>
        <ion-option value="Saint-Joseph">Saint-Joseph</ion-option>
        <ion-option value="Saint-Louis">Saint-Louis</ion-option>
        <ion-option value="Saint-Pierre">Saint-Pierre</ion-option>
        <ion-option value="Tampon">Tampon</ion-option>
        <ion-option value="all">Tout</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-card *ngFor="let product of productList"  class="product-list__shop_card">
    <ion-card-content>
      <div *ngIf="product.shop" class="product-list__shop_container" (click)="gotoShop(product)">
        <img class="product-list__shop_logo" src="assets/icon/default-shop.png" alt="{{product.shop.name}}">
        <div class="product-list__shop_info">
          <div class="product-list__shop_name">
            {{product.shop.name | uppercase}}
          </div>
          <div class="product-list__shop_town">
            <ion-icon name="home"></ion-icon> {{product.shop.town}}
          </div>
        </div>
      </div>
      <div class="product-list__product_image_container">
        <img src="{{product.image}}" class="product-list__product_image" (click)="showArticle(product)"/>
      </div>
      <div class="product-list__card_footer">
        <div class="product-list__product_info">
          <ion-card-title (click)="gotoShop(product)">{{product.name}}</ion-card-title>
          <div class="product-list__shop_info">
            <span><ion-icon name="home"></ion-icon> {{product.shopName | uppercase}}, {{product.shopTown}}</span>
          </div>
        </div>
        <price-component [product]="product"></price-component>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
   <ion-infinite-scroll-content></ion-infinite-scroll-content>
 </ion-infinite-scroll>
</ion-content>
