.product-list__shop_container {
  display: flex;
}

.product-list__shop_logo {
  flex: none;
  width: 40px;
  height: 40px;
  margin-right: 12px;
}

.product-list__shop_info {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: normal;
}

.product-list__shop_name {
  font-weight: bold;
}

.product-list__shop_town {
  color: color($colors, town, base);
  font-size: 12px;
}

.product-list__product_image {
  height: 220px;
  margin: auto;
  width: auto;
}

.product-list__shop_card {
  padding: 12px;

  ion-card-content {
    padding: 0;
    position: relative;
  }

  ion-card-title {
    padding-left: 12px;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: bold;
  }
}

.product-list__shop_info {
  color: color($colors, town, base);

  ion-icon {
    display: inline-block;
  }
}

.product-list__card_footer {
  display: flex;
  align-items: center;
  font-weight: bold;
  padding: 6px 12px;
  width: 100%;
}

.product-list__product_info {
  flex: 1 1 auto;

  ion-card-title {
    margin: 0;
    padding: 6px 0 0 0;
  }
}

.product-list__filter {
  position: fixed;
  top: 56px;
  z-index: 8000;
  width: 100%;
  height: 40px;
  margin-bottom: 0;
  background-color: transparent;

  .item-block {
    background: transparent;
  }
}

.product-list__content {
  background-color: color($colors, containerBg, base);
}

.product-list__product_sold_out {
  position: absolute;
  top: 12px;
  right: 0;
  padding: 2px 24px;
  background-color: color($colors, warningBg, base);
  color: color($colors, warning, base);
  font-size: 14px;
  opacity: 0.9;
  font-weight: bold;
}
