.product-list__store_container {
  display: flex;
}

.product-list__store_logo {
  flex: none;
  width: 40px;
  height: 40px;
  margin-right: 12px;
}

.product-list__store_info {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-list__store_name {
  font-weight: bold;
}

.product-list__store_town {
  color: color($colors, town, base);
  font-size: 12px;
}

.product-list__product_image {
  height: 220px;
  margin: auto;
  width: auto;
}

.product-list__product_price {
  background-color: red;
  position: relative;
  right: 20px;
  top: 180px;
  padding: 6px 12px;
  border-radius: 50%;
  background-color: color($colors, secondary, base);
  color: white;
  font-size: 20px;
}

.product-list__product_price_container {
  height: 0;
}

.product-list__product_image_container {
  background-color: #eaeaea;
  padding: 6px 12px;
  margin: 6px;
}
