page-product-detail {

}

.product-detail__content_container {
  padding: 12px;
}

.product-detail__content_header {
  display: flex;
  align-items: center;
}

.product-detail__product_price {
  background-color: color($colors, secondary, base);
  color: white;
  font-weight: normal;
  font-size: 16px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: none;
}

.product-detail__product_name {
  font-size: 22px;
  font-weight: bold;
  text-transform: capitalize;
}

.product-detail__product_name_container {
  padding: 6px;
  flex: 1 1 auto;
}

.product-detail__product_reserve_button {
  margin-top: 12px;
}

.product-detail__product_shop {
  color: #69717d;
}

.product-detail__product_description {
  padding-top: 12px;
}

.product-detail__product_image {
  max-height: 420px;
}

.product-detail__product_image_container {
  background-color: #eaeaea;
  text-align: center;
}

.product-detail__is_reserved {
  margin-top: 20px;
  text-align: center;
  background-color: color($colors, secondary, base);
  padding: 6px 0;
  color: white;
  font-size: 16px;
}

.product-detail__product_thumbnails {
  display: flex;

  img {
    height: 80px;
  }
}
