<ion-header>
  <ion-navbar>
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title><img alt="logo-shopping974" height="40" src="assets/logo/logo-long.png"></ion-title>
    <ion-buttons right *ngIf="auth">
      <button ion-button icon-only (click)="navigateToReservationPage()" color="second">
        <ion-icon name="cart"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="product-detail__reserved_block" *ngIf="(currentReservation | async)?.timestamp">
    <ion-icon name="checkmark-circle-outline"></ion-icon>&nbsp;Vous avez réservé ce produit depuis le {{(currentReservation | async)?.timestamp | date: 'dd/MM/yyyy'}}
  </div>
  <div class="product-detail__product_sold_out" *ngIf="product?.soldOut">
    <ion-icon name="alert"></ion-icon>&nbsp;Ce produit est en rupture de stock
  </div>
  <div class="product-detail__container">
    <div class="product-detail__product_image_container">
      <img class="product-detail__product_image" [src]="product?.image"/>
    </div>
    <!-- <div class="product-detail__expiration_container">
      Cette vente se termine dans <span class="product-detail__product_expiration_date">{{countdown | countdowntimer}}</span>
    </div> -->
    <div class="product-detail__content_container">
      <div class="product-detail__content_header">
        <div class="product-detail__product_name_container">
          <div class="product-detail__product_name">
            {{product?.name}}
          </div>
        </div>
        <price-component [product]="product"></price-component>
      </div>
      <div class="product-detail__discount_container" *ngIf="product?.discount">
        <span class="product-detail__product_discount">-{{ product?.discount }}%</span>
        <div class="product-detail__product_description">
          {{ product.description }}
        </div>
      </div>
    </div>
    <div *ngIf="!(currentReservation | async)?.timestamp && !product?.soldOut">
      <div class="product-detail__product_reservation" >
        Réservez aujourd'hui et économisez <span [innerHtml]="calculReduction() | price"></span> lors de votre achat en magasin.
      </div>
      <div>
        <button ion-button block [attr.disabled]="product?.soldOut" (click)="reserveThisProduct()" class="product-detail__button product-detail__button--cta1" color="second">Réserver maintenant</button>
      </div>
    </div>
  </div>

<ion-card>
  <!-- <div class="product-detail__proposed_by">
    Ces offres vous sont proposées par
  </div> -->
  <shop-info-component [shopId]="product.shopRef"></shop-info-component>
</ion-card>
<discover-products-component [product]="product" [type]="'shop'"></discover-products-component>

</ion-content>
