.cp-shop-info__container {
  background-color: white;
}

.cp-shop-info__name_container {
  padding: 6px 6px 6px 48px;
  display: flex;
}

.cp-shop-info__name {
  font-weight: bold;
  font-size: 18px;
  color: color($colors, town, base);
}

.cp-shop-info__town {
  color: #424242;
  font-size: 14px;
}

.cp-shop-info__description {
  padding: 12px 0;
}

.cp-shop-info__header_container {
  padding: 12px 24px;
}
