.cp-shop-info__container {
  background-color: white;
}

.cp-shop-info__name_container {
  text-align: center;
  padding: 6px;
}

.cp-shop-info__name {
  font-weight: bold;
  font-size: 16px;
}

.cp-shop-info__town {
  color: #bbb;
  font-size: 14px;
}

.cp-shop-info__description {
  padding: 12px 0;
}

.cp-shop-info__header_container {
  padding: 12px 24px;
}
