<ion-header>
  <ion-navbar color="primary">
    <ion-title>FriendShop</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)='addStore()'>
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let store of storeList | async" (click)="goToStore(store)">
      <div item-start class="store-list__store_logo">
        <img *ngIf="!store.logo" src="assets/icon/default-store.png" class="store-list__store_logo">
        <img *ngIf="store.logo" [src]="store.logo" class="store-list__store_logo">
      </div>
      <div class="store-list__store_name">{{store.name | uppercase}}</div>
      <p class="store-list__store_town"><ion-icon name="home"></ion-icon>  {{store.town}}</p>
      <p class="store-list__store_description">{{store.description}}</p>
    </ion-item>
  </ion-list>
</ion-content>
