.item-md .store-list__title {
  font-weight: bold;
  font-size: 20px;
}

.store-list__action_block {
  text-align: center;

  button {

  }
}

page-store-list {
  .content-md {
    background-color: #eaeaea;
  }
}
