page-store-detail {
}

ion-app.md [padding], ion-app.md [padding] .scroll-content {
  padding: 0 !important;
}

.store-detail__town {
  font-weight: bold;
}

.store-detail__name {
  text-transform: uppercase;
  font-weight: bold;
}

.store-list__product_price {
  font-weight: bold;
}
