.price {
  .cents {
    font-size: 0.8em;
    position: relative;
    bottom: 0.1em;
    left: 0.1em;
  }
}

.scroll-content {
  background-color: color($colors, containerBg, base);
}

ion-card-header {
  font-weight: bold;
  font-size: 20px !important;
}
