<ion-nav id="nav" #myNav [root]="rootPage"></ion-nav>

<ion-menu [content]="myNav">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <button ion-item (click)="openPage(productPage)">
        Accueil
      </button>
      <button ion-item (click)="openPage(shopPage)">
        Administration
      </button>
      <button ion-item (click)="openPage(loginPage)" *ngIf="!auth">Se connecter</button>
      <button ion-item (click)="openPage(reservationPage)" *ngIf="auth">
        Mes réservations
      </button>
      <button ion-item (click)="logout()" *ngIf="auth">
        Se déconnecter
      </button>
    </ion-list>
  </ion-content>
</ion-menu>
