<ion-header>
  <ion-navbar color="danger">
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>NamanaShop</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>Administration</ion-card-header>
    <ion-card-content>
      <button ion-button (click)='addShop()' color="danger">Nouvelle boutique</button>

    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>Liste des boutiques</ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let shop of shopList | async" (click)="goToShop(shop)">
          <div item-start class="shop-list__shop_logo">
            <img *ngIf="!shop.logo" src="assets/icon/default-shop.png">
            <img *ngIf="shop.logo" [src]="shop.logo">
          </div>
          <div class="shop-list__shop_name">{{shop.name | uppercase}}</div>
          <p class="shop-list__shop_town"><ion-icon name="home"></ion-icon>  {{shop.town}}</p>
          <p class="shop-list__shop_activity">{{shop.activity}}</p>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
