.shop-list__shop_town {
  font-size: 12px;
  margin-bottom: 6px;
}

.shop-list__shop_name {
  font-weight: bold;
  font-size: 18px;
  color: color($colors, town, base) !important;
}

.shop-list__shop_logo {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  text-align: center;

  img {
    width: 50px !important;
    height: 50px !important;
  }
}
