<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>Shopping974</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>Administration</ion-card-header>
    <ion-card-content>
      <button ion-button (click)='addShop()' color="town">Nouvelle boutique</button>

    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>Liste des boutiques ({{ (shopList | async)?.length }})</ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let shop of shopList | async" (click)="goToShop(shop)">
          <ion-avatar item-start class="shop-list__shop_logo">
            <img *ngIf="!shop.image" src="assets/icon/default-shop.png">
            <img *ngIf="shop.image" [src]="shop.image">
          </ion-avatar>
          <div class="shop-list__shop_name">{{shop.name | uppercase}}</div>
          <p class="shop-list__shop_town"><ion-icon name="home"></ion-icon>  {{shop.town}}</p>
          <p class="shop-list__shop_activity">{{shop.activity}}</p>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
