<ion-header>
  <ion-navbar>
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>Nouvelle boutique</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form #registerForm="ngForm" novalidate>
    <ion-card>
      <ion-card-content>
          <ion-item>
            <ion-label floating>
              Nom de la boutique
            </ion-label>
            <ion-input type="email" name="name" [(ngModel)]="shop.name" #name="ngModel" required></ion-input>
          </ion-item>

          <div padding *ngIf="name.invalid && name.dirty">
            <span class="global__input-error">Ce nom de boutique n'est pas valide.</span>
          </div>

          <ion-item>
            <ion-label floating>
              Description
            </ion-label>
            <ion-textarea [(ngModel)]="shop.description" name="description" #description="ngModel" required>
            </ion-textarea>
          </ion-item>
          <div padding *ngIf="description.invalid && description.dirty">
            <span class="global__input-error">La description de la boutique doit faire minimum 120 caractères.</span>
          </div>

          <ion-item>
            <ion-label>Ville</ion-label>
            <ion-select [(ngModel)]="shop.town" name="town">
              <ion-option value="Petite-Ile" selected=true>Petite-Ile</ion-option>
              <ion-option value="Saint-Joseph">Saint-Joseph</ion-option>
              <ion-option value="Saint-Louis">Saint-Louis</ion-option>
              <ion-option value="Saint-Pierre">Saint-Pierre</ion-option>
              <ion-option value="Tampon">Tampon</ion-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <button ion-button (click)="takePhoto()" *ngIf="!bannerData">Ajouter une bannière</button>
            <img [src]="bannerData" *ngIf="bannerData"/>
          </ion-item>

          <ion-item>
            <button ion-button (click)="loadLogo()" *ngIf="!logoData">Charger logo</button>
            <img [src]="logoData" *ngIf="logoData"/>
          </ion-item>

        </ion-card-content>
      <ion-row class="register-form__button">
        <button ion-button right (click)="addShop()" [disabled]="registerForm.invalid">Ajouter</button>
      </ion-row>
    </ion-card>
  </form>
</ion-content>
