ion-app.md [padding], ion-app.md [padding] .scroll-content {
  padding: 0 !important;
}

.shop-detail__town {
  font-weight: bold;
}

.shop-detail__name {
  text-transform: uppercase;
  font-weight: bold;
}

.shop-list__product_price {
  text-align: center;
  font-size: 18px;
}

.shop-detail__content_container {
  padding: 12px;
}

.shop-detail__title {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

.shop-detail__product_inner {
  border: 1px solid #eaeaea;
}

.shop-detail__name_container {
  width: 148px;
  height: 80px;
  margin: auto;
  position: relative;
  bottom: 80px;
  background-color: white;
  text-align: center;
  padding: 0;
}

.shop-detail__shop_image {
  height: 200px;
  width: 100%;
}

.shop-detail__product_image {
  width: 100%;
  min-height: 106px;
}

.shop-detail__product_name {
  text-align: center;
}

.shop-detail__shop_logo {
  height: calc(100% * 2);
  width: 100%;
}
