<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>FriendShop</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="reservation__backet_container">
    <div class="reservation__title">Réservations en cours</div>
    <ion-list>
      <ion-item *ngFor='let reservation of reservationList | async' (click)="gotoProduct(reservation)">
        <div item-start class="reservation__image_container">
          <img class="reservation__image" src="{{reservation.product.image}}">
        </div>
        <div class="reservation__product_name">{{reservation.product.name}}</div>
        <div class="reservation__shop_info">
          <ion-icon name="home"></ion-icon> <span class="reservation__shop_name">{{reservation.shop.name}}</span>, {{reservation.shop.town}}
        </div>
        <div>{{reservation.product.price}}€</div>
      </ion-item>
    </ion-list>
    <span *ngIf='(reservationList | async)?.length === 0'>
      Vous n'avez pas encore de réservation.
    </span>
  </div>
</ion-content>
