<ion-header>
  <ion-navbar>
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title><img alt="logo-shopping974" height="40" src="assets/logo/logo-long.png"></ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="reservation__backet_container">
    <div class="reservation__title">Ma Liste De Souhait</div>
    <ion-list *ngIf='(reservationList | async)?.length'>
      <ion-item *ngFor='let reservation of reservationList | async' (click)="gotoProduct(reservation)">
        <div item-start class="reservation__image_container">
          <img class="reservation__image" src="{{reservation.product.image}}">
        </div>
        <div class="reservation__product_name">{{reservation.product.name}}</div>
        <div class="reservation__shop_info">
          <ion-icon name="home"></ion-icon> <span class="reservation__shop_name">{{reservation.shop.name}}</span>, {{reservation.shop.town}}
        </div>
        <price-component [product]="reservation.product"></price-component>
      </ion-item>
    </ion-list>
    <div *ngIf='!(reservationList | async)?.length'>
      <span>Vous n'avez ajoutez aucun article dans votre liste de souhait.</span>

      <button ion-button block (click)="gotoProductList()">Découvrir les articles</button>
    </div>
  </div>
</ion-content>
